<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>李冠篁簡介網站</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/1681913243.ico') }}" type="image/x-icon">

</head>

<body>
    <header class="header">
        <a href="#" class="logo">李冠篁簡介 Introduction</a>

        <i class='bx bx-menu' id="menu-icon"></i>

        <nav class="navbar">
            <a href="#home" class="active">主頁</a>
            <a href="#about">自介</a>
            <a href="#tech">技能介紹</a>
            <a href="#certificate">證書</a>
            <a href="#contact">聯絡方式</a>

        </nav>

    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h3>你好 ! 我是...</h3>
            <h1>李冠篁 Mark</h1>
            <h3>正在為了成為一名合格的<span>工程師</span>而努力</h3>
            <p>本網頁設立初衷是在介紹我的經歷與作品
                <br>包含網站與架設網站本身如何架構的都在此網站做說明</p>

            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100008854838565"><i class='bx bxl-facebook-square' ></i></a>
                <a href="https://github.com/mike881014"><i class='bx bxl-github' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
                <a href="#"><i class='bx bxs-file'></i></a>
            </div>

            <a href="#" class="btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                網站系統架構
            </a>
        </div>
        

        <div class="home-img">
            <img src="{{ url_for('static', filename='image/S__4390987.jpg') }}" id="head" alt="">
        </div>

    </section>

    <section class="about" id="about">
        <div class="about-img">
            
        </div>
    </section>

    <section class="tech" id="tech">
        <div class="about-img">
            
        </div>
    </section>

    <section class="certificate" id="certificate">
        <div class="about-img">
            
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="about-img">
            
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>